<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<!--<img src="static/img/logo.jpg">-->


<!--使用绝对路径-->
<!--<img src="/d/static/img/logo.jpg">-->


<!--    当项目的上下文路径为/代表为空，那么d可以省略，省区了项目名的上下文路径，避免了冲突，直接写/文件的真实路径名就可以了 -->
<img src="/static/img/logo.jpg">
</body>
</html>